@import "tailwindcss";

@theme {
  /* Palet Warna Modern-Spiritual Minimalist */
  --color-emerald-main: #065f46;
  --color-emerald-light: #059669;
  --color-offwhite: #f9fafb;
  --color-charcoal: #111827;
  --color-charcoal-muted: #374151;
  --color-amber-main: #f59e0b;

  /* Bawaan UI Radius */
  --radius-xl: 1rem;
  --radius-2xl: 1.5rem;
}

/* Base style resets */
@layer base {
  body {
    background-color: var(--color-offwhite);
    color: var(--color-charcoal);
  }
}

/* Utilities custom contoh untuk Glassmorphism Navbar */
@layer utilities {
  .glass {
    @apply bg-white/70 backdrop-blur-md border border-white/20;
  }

  html {
    -ms-overflow-style: none; /* IE dan Edge */
    scrollbar-width: none; /* Firefox */
  }
}
